APP_PORT=3000
PORT=3000

DB_HOST=mysql
DB_PORT=3306
DB_NAME=academic_db
DB_USER=academic_user
DB_PASSWORD=change_this_password

MYSQL_ROOT_PASSWORD=change_this_root_password

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=change_this_access_key
MINIO_SECRET_KEY=change_this_secret_key
MINIO_BUCKET=mahasiswa-files
